header {
	background-color: #3E81EF;
	padding:20px;
	font-size: 25px;
	color: white;
	margin-bottom:30px;
}

.tachado{
	text-decoration: line-through;
}
.rojo{
	color: red;
}
body{
	background-color: #CBE8F1;
}
button{
	margin-top: 10px;
}